// pills
.pills {
    padding: .2em 0;
    @include clearfix;
    ul {
        @include li-reset;
        li {
            display: block;
            float: left;
            margin: 0 .2em .2em 0;
            &.active {
                a {
                    color: #FFF;
                    background: $primaryColor;
                }
            }
            a {
                border-radius: .2em;
                text-align: center;
                background: #DDD;
                color: #555;
                display: block;
                padding: .5em .8em;
                font-size: .938em;
                &:hover, &:focus {
                    color: #FFF;
                    background: $primaryColor;
                }
            }
        }
    }
}
// dropdown
.dropdown-btn {
    position: relative;
    &:before {
        content: "";
        width: 4px;
        height: 4px;
        border: 2px solid $color-word;
        transform: rotate(45deg);
        border-left: none;
        border-top: none;
        position: absolute;
        top: .9em;
        right: .7em;
    }
    &.open {
        &:before {
            top: .55em;
            transform: rotate(-135deg);
        }
    }
}
.dropdown-content {
    position: absolute;
    right: 0;
    @include border-radius(.5em);
    padding: 1em;
    min-width: 24em;
    background: #FFF;
    color: $color-word;
    box-shadow: 0px 2px 5px RGBA(0, 0, 0, .45);
    @include gradient(#FFF, #EEE, vertical);
    display: none;
    z-index: 9999;
    top: 3em;
    &:before {
        position: absolute;
        top: -6px;
        right: 5%;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 3px 6px 3px;
        border-color: transparent transparent #ffffff transparent;
    }
    ul {
        @include li-reset;
        li {
            border-bottom: 1px dashed #DDD;
        }
    }
}
.editer {
    background: #F1F1F1;
    box-shadow: 2px 2px 4px RGBA(0, 0, 0, .35) inset;
    min-height: 500px;
}
// treeview
.treeview_block, .menu_setting {
    width: 230px;
    float: left;
    overflow: hidden;
    padding: 1em;
    background: #FFF;
    margin: 0 1em 0 0;
    font-size: .938em;
    min-height: 100%;
    position: relative;
    min-height: 550px;
}
.treeview {
    @include li-reset;
    ul {
        @include li-reset;
        margin-top: 4px;
    }
    .hitarea {
        background: url(../images/treeview/treeview-default.gif) -64px -25px no-repeat;
        height: 16px;
        width: 16px;
        margin-left: -16px;
        float: left;
        cursor: pointer;
    }
    li {
        margin: 0;
        padding: 3px 0pt 3px 16px;
        line-height: 1em;
        font-size: 1em;
        &.last {
            background-position: 0 -1766px
        }
    }
    a {
        @include aSetting($color-word);
        &.selected {
            background-color: #eee;
        }
    }
    .hover {
        color: $aHover;
        cursor: pointer;
    }
    li {
        background: url(../images/treeview/treeview-default-line.gif) 0 0 no-repeat;
        &.collapsable, &.expandable {
            background-position: 0 -176px;
        }
    }
    .expandable-hitarea {
        background-position: -80px -3px;
    }
}
#treecontrol {
    margin: 1em 0;
    display: none;
}
.treeview li .treeview li.lastCollapsable, .treeview li.lastExpandable {
    background-image: url(../images/treeview/treeview-default.gif);
}
.treeview li.lastCollapsable {
    background-position: 0 -111px
}
.treeview li.lastExpandable {
    background-position: -32px -67px
}
.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea {
    background-position: 0;
}
.treeview-red li {
    background-image: url(../images/treeview/treeview-red-line.gif);
}
.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable {
    background-image: url(../images/treeview/treeview-red.gif);
}
.treeview-black li {
    background-image: url(../images/treeview/treeview-black-line.gif);
}
.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable {
    background-image: url(../images/treeview/treeview-black.gif);
}
.treeview-gray li {
    background-image: url(../images/treeview/treeview-gray-line.gif);
}
.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable {
    background-image: url(../images/treeview/treeview-gray.gif);
}
.treeview-famfamfam li {
    background-image: url(../images/treeview/treeview-famfamfam-line.gif);
}
.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable {
    background-image: url(../images/treeview/treeview-famfamfam.gif);
}
.treeview .placeholder {
    background: url(../images/treeview/ajax-loader.gif) 0 0 no-repeat;
    height: 16px;
    width: 16px;
    display: block;
}
.treeview li {
    padding: 3px 0 2px 16px;
}
.treeview span.folder, .treeview span.file {
    padding: 1px 0 1px 1.5em;
    display: block;
}
.treeview span.folder {
    background: url(../images/treeview/folder.gif) 0 0 no-repeat;
}
.treeview li.expandable span.folder {
    background: url(../images/treeview/folder-closed.gif) 0 0 no-repeat;
}
.treeview span.file {
    background: url(../images/treeview/file.gif) 0 0 no-repeat;
}
.show_list {
    position: fixed;
    z-index: 99;
    background: RGBA(0, 0, 0, .85);
    top: 3em;
    left: -400px;
    width: 400px;
    height: 100%;
    background: #FFF;
    box-shadow: 0px 5px 5px RGBA(0, 0, 0, .4);
    padding: 4em 1em 1em;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    h3 {
        position: absolute;
        width: 100%;
        height: 2.5em;
        line-height: 1.5em;
        @include gradient(#242635, #714795, horizontal);
        color: #FFF;
        padding: .5em 1em;
        top: 0;
        left: 0;
        margin: 0;
        a.close_btn {
            position: absolute;
            width: 2.5em;
            height: 2.5em;
            top: 0;
            right: 0;
            &:hover, &:focus {
                background: $primaryColor;
            }
            &:before {
                position: absolute;
                width: 12px;
                height: 12px;
                border: 2px solid #FFF;
                content: "";
                left: 40%;
                top: 32%;
                border-left: none;
                border-bottom: none;
                transform: rotate(-135deg);
                z-index: 1;
                display: block;
            }
        }
    }
    ul {
        display: block;
        @include li-reset;
        li {
            display: block;
            border-bottom: 1px dashed #DDD;
            margin-bottom: .3em;
            a {
                padding: .2em;
                display: block;
                color: #666;
                &:hover, &:focus {
                    color: $aHover;
                }
            }
            img {
                width: 1em;
                height: 1em;
                margin-right: .3em;
            }
        }
    }
}
.menu_setting {
    width: 300px;
    padding-top: 3em !important;
    .title {
        position: absolute;
        width: 100%;
        height: 2.5em;
        line-height: 1.5em;
        @include gradient(#242635, #714795, horizontal);
        color: #FFF;
        padding: .5em 1em;
        top: 0;
        left: 0;
        .btn {
            background: transparent;
            border: 1px solid #EEE;
            color: #FFF;
            padding: .2em 1em;
            position: absolute;
            right: .5em;
            top: .4em;
            font-size: .75em;
            &:hover, &:focus {
                background: rgba(0, 0, 0, .4);
            }
        }
    }
    h3 {
        top: 0;
        left: 0;
        margin: 0 0 .5em;
        padding-bottom: .3em;
        border-bottom: 2px solid #DDD;
    }
    .btn_grp {
        margin: 0 0 .2em;
        padding: 0;
    }
    .menu_tree {
        @include li-reset;
        margin-bottom: 2em;
        &>li:first-child {
            &>span {
                background: #D1D1D1;
                border-bottom: 2px solid #BBB;
            }
        }
        ul {
            @include li-reset;
        }
        li {
            margin: 0;
            display: block;
            padding-bottom: .1em;
            span {
                display: block;
                background: #F1F1F1;
                border-bottom: 2px solid #DDD;
                padding: .4em .4em .4em 1em;
                padding-right: 60px;
                position: relative;
                overflow: hidden;
                a {
                    opacity: .5;
                    &:hover, &:focus {
                        opacity: 1;
                    }
                }
                .i_add {
                    position: absolute;
                    right: .5em;
                    top: .5em;
                    background: #FFF;
                    border-radius:4px;
                    width: 1.5em;
                    text-align: center;
                }
                .i_edit {
                    position: absolute;
                    right: 2em;
                    top: .3em;
                }
                .i_trash {
                    position: absolute;
                    right: .4em;
                    top: .3em;
                }
            }
            li {
                background: url(../images/menu_tree_line_li.gif) no-repeat left top;
                padding-left: 1em;
                padding-top: .2em;
                position: relative;
                span {
                    &:before {
                        position: absolute;
                        width: 10px;
                        height: 100%;
                        background: url(../images/icon/icon_dot.svg) center center no-repeat rgba(0, 0, 0, 0);
                        background-size: 20px;
                        content: "";
                        top: 0;
                        left: 2px;
                        opacity: .5;
                    }
                }
                &:hover {
                    cursor: move;
                }
                &:focus {
                    opacity: .9;
                }
                &.last {
                    background: url(../images/menu_tree_line_li_last.gif) no-repeat left top;
                    padding-bottom: 0;
                }
            }
        }
    }
}